body {
  /* prioritize system font for better smoothing in chrome */
  font-family: "Lato", "latoweb", "Open Sans", "Droid Sans", "Segoe UI", "Ubuntu", "Arial", sans-serif;
  line-height:1.5em;
  margin:0;
  -webkit-font-smoothing: subpixel-antialiased;
}

h1, h2, h3, h4, h5, h6 {
  /* prioritize web font because it's unlikely anyone will have the font, and i can't seem to use the expanded version using a system font */
  /*font-family: "Georgia", "Times New Roman", serif;*/
  font-family: "Lato", "latoweb", "Open Sans", "Droid Sans", "Segoe UI", "Ubuntu", "Arial", sans-serif;
  color:#AAA;
  font-weight: 900;
}

.date, .page-title, .year {
    /* prioritize web font because it's unlikely anyone will have the font, and i can't seem to use the expanded version using a system font */
  font-family: "antykwa_poltawskiegoexpd", "Georgia", "Times New Roman", serif!important;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size:1em;
  font-family:
}

a { text-decoration:underline; color: black; }
a:visited { text-decoration:underline; color: black; }
a:active { text-decoration:underline; color: black; }
a:hover { text-decoration:underline; color: black; }

#container {
  margin:8px;
}

#header {
  display:inline-block;
  width:300px;
  text-align:left;
  vertical-align:top;
  margin-right:8px;
  margin-bottom:32px;
}

#content {
  display:inline-block;
  text-align:left;
}

#frontpage {
  margin-bottom:6em;
}

#yearlist {
  text-align:center;
  max-width:480px;
  margin-top:3em;
}

#footer {
  font-size:12px;
  line-height:1em;
  text-align:right;
  margin-top:48px;
} 

#header h1:hover {
  color:black;
}

#header h1 {
  display:block;
  width:3em;
  font-size: 64px;
  line-height:50%;
  letter-spacing:-0.175em;
  color:#EEE;
  font-weight:800;
  margin-top:8px;
  margin-bottom:0;
  font-variant:small-caps;
  text-align:left;
}

#header h2 {
  font-style:italic;
}

#header p {
  line-height:1em;
  color:#AAA;
}

#header a {
  text-decoration:none;
}

.smallcaps {
  font-variant:small-caps;
}

.post {
  display: block;
  vertical-align: top;
  margin-bottom: 3em;
}

.post-content {
  display:inline-block;
  max-width:480px;
  width:100%;
}

.post-content p {
  text-align:left;
}

.assets {
  display:inline-block;
  width:300px;
  vertical-align: top;
  margin-left:8px;
  margin-top:8px;
}

.asset {
  display:inline-block;
  margin-bottom:24px;
}

.caption {
  line-height:1.0em;
  font-size:0.75em;
  margin-top:0;
  margin-bottom:0;
  padding-right:4px;
  padding-left:4px;
}

.caption p {
  margin:0;
}

h2.post-title {
  line-height: 1.0em;
  margin-top:8px;
  margin-bottom:1em;
}

h2.post-title a, h2.post-title a:visited {
  text-decoration:none;
}

h2.post-title a:hover, h2.post-title a:active {
  text-decoration:underline;
}

h3.date {
  font-style: italic;
  font-weight:800;
  text-align:right;
}

.date a {
  color:inherit;
  text-decoration: inherit;
}

.date a:hover {
  color:black;
  text-decoration:underline;
}

.post-headline {
  display:block;
  margin-top:16px;
}

h2.post-link {
  font-size:1em;
  font-weight:800;
  float:left;
  display:block;
  width:67%;
  margin:0;
}

.post-headline h3.date {
  float:right;
  display:block;
  width:33%;
  margin:0;
}

.year {
  font-style: italic;
  display:inline;
  margin:16px;
}


@media (min-width: 1143px) {
  #header {
    width: 26.2%;
  }
}


@media (min-width: 1354px) {
  .post-content {
    max-width:640px;
  }
  #yearlist {
    max-width:640px;
  }
}

@media (max-width: 814x) {
  .assets {
    margin-left:0px;
  }
}